
body {
  height: 100%;
  background-color: #000;
  color: #4fa;
  text-shadow: 0.105em 0.125em 0.4em #186, 0.11em 0.11em 0.8em #4fa;
  font-family: 'VT323';
  /*font-family: 'Special Elite';*/
  font-size: 20px;
}

a:link, a:visited {
  color: green;
}

h2 {
  margin: 0;
}

#device {
  border: 2px outset #333;
  width: 1024px;
  height: 520px;
  position: relative;
}

#screen {
  border: 2px inset grey;
  position: absolute;
  background-color: beige;
  color: #111;
  text-shadow: none;
  width: 720px;
  height: 472px;
  overflow: auto;
}

#messages {
  position: absolute;
  right: 0;
  top: 32px;
  width: 280px;
  height: 460px;
  overflow: auto;
}

#quest {
  border: 1px solid blue;
  position: absolute;
  right: 0;
  padding: 0px 4px 4px;
  width: 172px;
}

#quest, #quest a:link {
  color: blue;
  text-shadow: 0.105em 0.125em 0.4em #55a, 0.11em 0.11em 0.8em #66f;
}

#wallet {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#co2emission {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 20px;
  width: 160px;
  border: 1px solid red;
  padding: 0px 4px 4px;
  text-align: right;
  color: #f44;
  text-shadow: 0.105em 0.125em 0.4em #f77, 0.11em 0.11em 0.8em #faa;
}

#inventory {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}

#inventory li {
  display: block;
  float: left;
  margin: 0;
  padding: 2px;
  border: 1px solid orange;
  color: #fc6;
  text-shadow: 0.105em 0.125em 0.4em #820, 0.11em 0.11em 0.8em #fa4;
}

