body {
  background-color: #000;
  color: #4fa;
  font-family: 'VT323';
  /*font-family: 'Special Elite';*/
  font-size: 20px;
}

a:link, a:visited {
  color: green;
}

h2 {
  margin: 0;
}
header{
  text-align:right;
}
#columnleft{
  float:left;
  width:500px;
}

#screen {
  min-width: 500px;
  min-height: 350px;
  position: relative;
}

#text {
  float: right;
  background-color: beige;
  color: #111;
  text-shadow: none;
  width: 470px;
  height: 640px;
  padding-left:15px;
  padding-right:10px;
  overflow: auto;
}

#messages {
  float:right;
  right: 0;
  margin-top: 10px;
  width: 240px;
  height: 130px;
  overflow: hidden;
  text-align: right;
}

#quest {
  padding: 0px 4px 4px;
  width: 172px;
  float:right;
  width:150px;
  height:50px;
  text-align:right;
}

#quest, #quest a:link {
  color: blue;

}

#wallet {
  float:left;
  bottom: 0;
}

#co2 {
  float:right;
  width:150px;
  height:50px;
  text-align:right;
  padding: 0px 4px 4px;
  text-align: right;
  color: #f44;
}

#inventory {
 float:left;
 width:250px;
 height:250px;
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}

#inventory li {
  display: block;
  float: left;
  height:70px;
  width:70px;
  margin-right:5px;
  margin-bottom:5px;
  padding: 2px;
  background-color: beige;
}

#container{
  position:relative;
  width:1010px;
  margin-left:auto;
  margin-right:auto;
}

#location {
  float:right;
  width:500px;
  height:50px;
  text-align:right;
}

#wallet{
  float:left;
  width:250px;
  height:250px;
}

#footer {
}

