<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>SourceQuest</title>
    <link href="/media/css/main.css" rel="stylesheet" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=VT323' rel='stylesheet' type='text/css'>
    <!--
    <link href='http://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
    -->
    <script src="/media/js/jquery-1.6.4.min.js"></script>
    <script src="/media/js/jquery.tmpl.min.js"></script>
    <script src="/media/js/main.js"></script>
  </head>

  <body id="game">

    <div id="container">
        <header>
          <!--
          <h1><a href="">s</a>ourceQuest</h1>
          <p>an epic quest for finding<br />
          where things come from</p>
          -->
          <img src="/media/pictures/logo.png">
        </header>
        <section id="device" vocab="http://example.org/def/quest#">
          <div id="screen"></div>
          <div id="quest"></div>
          <div id="messages"></div>
          <div id="wallet"></div>
          <div id="text"></div>
          <div id="location"></div>
          <div id="co2"></div>
        </section>
        <div id="footer">
            <img src="/media/pictures/sourcemap.jpg" width="50px"/>
            <img src="/media/pictures/greenhackathon.png" width="50px"/>
        </div>
    </div>

    <script id="questTemplate" type="text/x-jquery-tmpl">
      Quest:
      {{if player.quest}}
        <a class="info" href="#${player.quest.id}">
          <em>${player.quest.label}</em>
        </a>
      {{/if}}
    </script>

    <script id="walletTemplate" type="text/x-jquery-tmpl">
      {{if player.inventory}}
        <ul id="inventory">
          {{each(key, item) player.inventory}}
            <li>${item.label}</li>
          {{/each}}
        </ul>
      {{/if}}
    </script>

    <script id="walletTemplate" type="text/x-jquery-tmpl">
      CO<sub>2</sub>: ${player.co2emission} kg
    </script>

  </body>
</html>
