<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>SourceQuest</title>
    <link href="/media/css/main.css" rel="stylesheet" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=VT323' rel='stylesheet' type='text/css'>
    <!--
    <link href='http://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
    -->
    <script src="/media/js/jquery-1.6.4.min.js"></script>
    <script src="/media/js/jquery.tmpl.min.js"></script>
    <script src="/media/js/main.js"></script>
  </head>

  <body id="game">

    <div id="container">
        <header>
          <!--
          <h1><a href="">s</a>ourceQuest</h1>
          <p>an epic quest for finding<br />
          where things come from</p>
          -->
          <img src="/media/pictures/logo.png">
        </header>
        <section id="device" vocab="http://example.org/def/quest#">
          <div id="columnleft">
            <div id="screen"></div>
            <div id="location"></div>
            <div id="wallet"></div>
            <div id="quest"></div>
            <div id="co2"></div>
            <div id="messages"></div>
          </div>
          <div id="text"></div>
        </section>
        <div id="footer">
        </div>
    </div>

    <script id="questTemplate" type="text/x-jquery-tmpl">
      Quest:
      {{if player.quest}}
        <a class="info" href="#${player.quest.id}">
          <em>${player.quest.label}</em>
        </a>
      {{/if}}
    </script>

    <script id="walletTemplate" type="text/x-jquery-tmpl">
      {{if player.inventory}}
        <ul id="inventory">
          {{each(key, item) player.inventory}}
            <li>{{html item.label}}</li>
          {{/each}}
        </ul>
      {{/if}}
    </script>

    <script id="co2Template" type="text/x-jquery-tmpl">
      CO<sub>2</sub>: ${player.co2emission.toFixed(2)} kg
    </script>

    <audio id="pickup" src="media/audio/sourceQuest 005 Pickup or coin.wav" />
    <audio id="miss" src="media/audio/sourceQuest 003 Hit or hurt.wav" />
    <audio id="travel" src="media/audio/sourceQuest 007 Powerup.wav" />

    <audio id="introtune">
      <source src="media/audio/8-bit bounce intro.ogg" type="audio/ogg" />
      <source src="media/audio/8-bit bounce intro.mp4" type="audio/mp4" />
    </audio>
    <audio id="ambience">
      <source src="media/audio/8-bit bounce loop.ogg" type="audio/ogg" />
      <source src="media/audio/8-bit bounce loop.mp4" type="audio/mp4" />
    </audio>
    <audio id="outrotune">
      <source src="media/audio/8-bit finale.ogg" type="audio/ogg" />
      <source src="media/audio/8-bit finale.mp4" type="audio/mp4" />
    </audio>

  </body>
</html>
